.bodypage {
    align-items: center;
}


.bodyindex {
    text-align: center;
}

.login {
    border: 1px solid black;
    margin-left: 700px;
    margin-right: 700px;
    margin-top: 100px;
    background-color: gray;
    border-radius: 10px;
    padding-bottom: 20px;
}

#msg_erro {
    color: red;
}

#resultado {
    color: red;
    font-size: 50px;
}

.botoes {
    font-size: 50px;
}

.bot1 {
    font-size: 20px
}

.bot2 {
    font-size: 20px
}